.main-chat__group-info
  .group-top
    .group-top__group-name
      test
    .group-top__members
      Member : test01 test02
  = link_to "#", class: "edit-btn" do
    Edit
.main-chat__message-list
.main-chat__message-form