.message-info{data: {message: {id: message.id}}}
  .message-info__top
    .message-info__top__name
      = message.user.name
    .message-info__top__time
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .message-info__message
    - if message.body.present?
      %p
        = message.body
    - if message.image.present?
      %p
        = image_tag message.image.url 